<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>Your Company | Account</title>
    </head>
    
    <body>
        <div>
            <h1>Il tuo profilo</h1>
            <h2>L'indirizzo del tuo wallet è: <br> {{ my_address }}</h2>
            
            <h3>Algos: {{ algo_posseduti }}</h3>
            <div id="container_nft"></div>

            <table id="tabella" class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">
                        Amount token 
                    </th>
                    <th scope="col">
                        Asset Id 
                    </th>
                    <th scope="col">
                        Nome token 
                    </th>
                    <th scope="col">
                        Url 
                    </th>
                </tr>
                </thead>
               
               
                
            </table>
            <script>
            {% block jquery%}
                vettore_amount_nft = []
                vettore_asset_id_nft = []
                vettore_nome_nft = []
                vettore_url_nft = []
                {% for token_singolo in amount_token_nft %}
                   vettore_amount_nft.push({{token_singolo}})
                {% endfor %}

                {% for asset_id_singolo in asset_idvettore %}
                   vettore_asset_id_nft.push({{asset_id_singolo}})
                {% endfor %}

                {% for asset_nome_singolo in nome_token_vettore %}
                    var res = "{{asset_nome_singolo}}"
                    //res = res.replace("&", " and ");
                    vettore_nome_nft.push(res)
                {% endfor %}

                {% for asset_url_singolo in url_token_vettore %}
                    //cast a stringa
                    res2 = "{{asset_url_singolo}}"
                    vettore_url_nft.push(String(res2))
                {% endfor %}

                for(var i = 0; i < vettore_amount_nft.length; i++){ 
                    $('#tabella').append("<tr><td>"+vettore_amount_nft[i]+"</td><td>"+vettore_asset_id_nft[i]+"</td><td>"+vettore_nome_nft[i]+"</td><td><a href="+vettore_url_nft[i]+">Visualizza Documento</a></td></tr>")
                }
                
            {% endblock %}
                
            </script>
           

             <button onclick="requestVaccine()">Request Token Vaccine</button>
        <script>
            function requestVaccine(){
                //email
                console.log("Vaccino richiesto")
                
            }
        </script>
            
          
           
            
        </div>
    </body>    
</html>