<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>Your Company | Account</title>
    </head>
    
    <body>
        <div>
            <h1>Il tuo profilo</h1>
            <h2>L'indirizzo del tuo wallet è: <br> {{ my_address }}</h2>
            
            <h3>Algos: {{ algo_posseduti }}</h3>
            <div id="container_nft"></div>

            <table id="tabella">
                <tr>
                    <td>
                        Amount
                    </td>
                    <td>
                        asset Id
                    </td>
                </tr>
               
                
            </table>
            <script>
            {% block jquery%}
                vettore_amount_nft = []
                vettore_asset_id_nft = []
                {% for token_singolo in amount_token_nft %}
                   //$('#tabella').append("<tr><td>{{token_singolo}}</td><td>{{ asset_id_singolo }}</td></tr>")
                   vettore_amount_nft.push({{token_singolo}})
                {% endfor %}

                {% for asset_id_singolo in asset_idvettore %}
                   //$('#tabella').append("<h3>Assset id: {{ asset_id_singolo }}</h3>")
                   vettore_asset_id_nft.push({{asset_id_singolo}})
                {% endfor %}

                for(var i = 0; i < vettore_amount_nft.length; i++){
                    $('#tabella').append("<tr><td>"+vettore_amount_nft[i]+"</td><td>"+vettore_asset_id_nft[i]+"</td></tr>")
                }
                
            {% endblock %}
                
            </script>
           

             <button onclick="requestVaccine()">Request Token Vaccine</button>
        <script>
            function requestVaccine(){
                //email
                console.log("Vaccino richiesto")
                
            }
        </script>
            
          
           
            
        </div>
    </body>    
</html>