<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>CIAO</h1>
        <button onclick="redirect()">Vai al Login</button>
        <script>
            function redirect(){
                window.location="http://192.168.1.67:8015/api/v1/organization/verification/start/BC_prova/TEST/widget"
            }
        </script>
        <h3>My address 1: {{ address }}</h3>
        <h3>Passphrase: {{ passphrase }}</h3>
        <h3>My address 2: {{ my_address }}</h3>
        <h3>microAlgos: {{ microAlgos }}</h3>
    </body>    
</html>