<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>Your Company | Account</title>
    </head>
    
    <body>
        <div>
            <h1>Richiesta effettuata</h1>
           <button type="button" class="btn btn-primary" id="indietro" onclick="goBack()">Go Back</button>

            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
       



    </body>    
</html>


<style>
#indietro{
    margin-left: 3%;
}
</style>